@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

.App {
  text-align: center;
}


/* body {
  background-color: black;
  color: white;
  font-family: 'Tiro Telugu', serif;
} */

body {
  background-color: white;
  color: black;
  font-family: 'Tiro Telugu', serif;
}

/* HOME PAGE */
.home-page {
  position: relative;
  display: inline-block;
}

.h-title {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

h1.title {
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 200px;
  text-align: center;
  margin: 5;
  color: whitesmoke;
  /* animation: App-logo-spin infinite 20s linear; */
}

.ball-img {
 animation: App-logo-spin infinite 10s linear;
 height: 175px;
 width: 170px;
 z-index: 3;

}
.backg-img {
  height: 100vh;
  width: 1900px;
  z-index: auto;
  margin-left: -5px;
  /* margin-top: -2px; */
  opacity: 0.95;
}


/* MENU */

#show-nav {
  z-index: 1000;
  padding: 0px;
  background-color: transparent;
  /* margin-top: -90px; */
  border: none;
  position: static;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  margin-top: 15px;
}
a {
  color: whitesmoke;
  text-decoration: none;
}

nav {
  position: relative;
  align-items: left; 
}


.menu {
  flex-direction: column;
  text-align: left;
  width: 18%;
  z-index: 1000;
}

div.menu-links{
  padding-left: 25px;
}

.nav-title {
  font-size: 16px;
  color: black;
}

#close-menu {
  margin-top: -20px;
  margin-bottom: 0;
  margin-left: 200px;
  border: none;
  padding: 15px;
}

.option {
  transition: background-color 0.5s ease;
}

.option:hover {
  opacity: 0.6;
}

.menu:hover{
  background-color: whitesmoke;
}


 
/* MAIN HEADER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav.header {
  display: flex; 
  /* position: fixed; */
  justify-content: center; 
  z-index: 1000;
  align-items:center;
  width: 100%;
  height: 85px;
  background-color: #fff;
  opacity: 0.7;
}

.home-title {
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  width: 100%;
  margin-left: -500px;
  /* position: absolute; */
}

.main-header-title {
  color: black;
}

.box-header{
  position: relative;
  width: 500px;
  height: 500px;
}

.ball-img1 {
  height: 50px;
  position: absolute;
  animation: slide-animation 30s infinite;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0);
  }
}

.user-container{
  width: 100%;
  justify-content:flex-end;
  display: flex; 
  padding-right: 25px;
}

.user-reg {
  justify-content: center; 
  color: black;
  font-size: 15px;
}

.user-login {
  margin-right: 20px;
}

nav.header:hover, .user-container:hover, .main-header-title:hover {
  background-color: whitesmoke;
  opacity: 0.9;

}

.user-icon {
  height: 30px;
  width: 30px;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* REGISTER/LOGIN PAGE */
.grid-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 190px;
  height: 800px;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}

.grid-welcome {
  background-image: url("https://tennislifemag.com/wp-content/uploads/2018/10/11162666_web1_ThinkstockPhotos-tennis-200247716-001.jpg");
  background-size: cover;
}

.grid-user {
  width: 100%;
  background-color: white;
}

.grid-user:hover {
  border: 1px solid #5a5958;
}


.user-input{
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 18px;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

form {
  margin-top: 100px;
}

.user-pw {
  font-size: 18px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

.login-title {
  margin-top: 80px;
  font-size: 35px;
}

.user-pw-bttn {
  margin-top: 40px;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
}



.new-user {
  margin: 170px 0px 0px 470px;
  display: flex;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 100px;
  font-size: 15px;
  border: 1px solid #5a5958;
  color: black;
}

.user-pw-bttn:hover, .new-user:hover {
  background-color: black;
  color: whitesmoke;
}


.welcome-mssg {
  color: whitesmoke;
  margin: 25px 380px 0 0px;
}



/* LESSON PAGE */

.grid-lesson {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 20px;
  margin-top: 100px;
}

.lesson-p {
 text-align: justify;
 margin: 0px 60px 0px 60px;
}

.subtitle {
  text-align: left;
}


#how-to-header {
  font-size: 35px;
  margin-bottom: 15px;
}

p {
  margin-top: -15px;
}

.grid-lesson-videos {
 background-color: #7d7d7d;
 position: static;
 margin: -20px -10px 0px 20px;
}


.img-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-description { 
  font-size: 15px;
  width: 50%;
  margin-left: 150px;
  margin-top: -3px;
  line-height: 18px;
  text-transform: uppercase;

}

.yt-video {
  border: none;
  border-radius: 10px;
  height: 170px;
}

.yt-video:hover {
  opacity: 0.8;
  border-radius: 0px;
}



/* VIDEO PAGE */


.yt-video-slams {
  border: none;
  border-radius: 12px;
  height: 700px;
  width: 400px;
  float: left;
  margin: 10px;
}

.yt-video-slams:hover {
  opacity: 0.6;
  border-radius: 0px;
}

.slam-videos {
  margin: 70px;
}

.grand-slam-title {
  margin-top: 120px;
  margin-bottom: -50px;
}



/* INDEX PAGE */
/* SEARCH BAR */

.search-bar {
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 18px;
  margin: 0px;
  margin-bottom: -5px;
  height: 20px;
  padding: 4px;
  text-align: right;
}

.matches-title {
  margin-top: 100px;
}

h1 {
  letter-spacing: 2px;
}

.img-matches {
  height: 100%;
  width: 100%;
}

.img-matches:hover {
  opacity: 0.6;
}

.grid-matches {
  display: grid;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 15px;
  grid-template-columns: 1fr 2fr;
}


.grid-matches-img {
   margin: 15px;
   margin-bottom: 0px;
}

.grid-matches-descrip {
  background-color:#39649d;
  position: static;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: -10px;
  color: white;
}

.match-location {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 25px;
}


.match-details {
  font-size: 20px;
  margin-top: 50%;
  margin-left: 25%;
  width: 100%;
  width: 50%;
}

/* 
SHOW BY ID */

.matches-grid {
  grid-auto-flow: column;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr;
  margin-left: 30%;
  margin-right: 30%;
  text-align: justify;
}


.match-host {
  background-color: #282c34;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin-top: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-left: 50%;
  color: white;
  background-color: black;
  opacity: 0.5;
}

.match-description{
  margin-top: -30%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.matches-img {
  height: 100%;
  width: 100%;
}

.descrip-title {
  font-size: 15px;
  letter-spacing: 1px;
  color:#5a5958;
  margin: -5px 0px -25px 0px
}

.descrip-container{
  margin: 30px;
  font-size: 13px;
  color: black;
}

.description{
  font-weight: lighter;
  margin-left: 20px;
}


.host-name{
  text-transform: uppercase;
 transform: translate(1%, 80%);
 text-align: center;
}


.join-bttn {
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
  border-radius: 2px;
  transform: translate(290%, -150%);
  border: none;
}


.buttons {
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
  margin-left: 590px;
  border-radius: 2px;
  border: none;
  transform: translate(10%, -1620%);
}  

.bttn-update {
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
  border-radius: 2px;
  border: none;
  transform: translate(-90%, 300%);
}

#close-chat {
  border: none;
  padding: 4px;
  transform: translate(5%, -180%);
}

.bttn-remove {
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
  border-radius: 2px;
  border: none;
  transform: translate(550%, -200%);
}

.remove-text { 
  margin-left: 570px;
  font-weight: lighter;
  font-size: 15px;
  position: absolute;
  margin-top: -70px;
}


.check {
  font-size: 15px;
  transform: translate(30%, -450%);
}

.confirm-join-bttn{
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
  border-radius: 2px;
  transform: translate(350%, -600%);
  border: none;

}

.join-bttn:hover, .buttons:hover, .bttn-update:hover, .bttn-remove:hover, .confirm-join-bttn:hover  {
  background-color: black;
  color: whitesmoke;
}


/* CHAT */


/* EQUIPMENT PAGE */

.equipment-container {
  grid-template-columns: 1fr 1fr 1fr;
  float: left;
  margin-bottom: 6px;
}

.img-equipment {
  width: 350px;
  height: 400px; 
  padding: 25px;
  margin-left: 10px;
}

.grid-equip-img {
  margin-left: 28%;
}

.equip-title{
  margin-top: 110px;
 }

 .grid-equip-descrip {
  transform: translate(45%, -400%);
  width: 80%;
  font-size: 8px;
  font-weight: lighter;
  z-index: 1;
  line-height: 2rem;
  
  color:rgba(0, 0, 0, 0.0);
  /* background-color: rgba(0, 0, 0, 0.2); */
 }

 .grid-equip-descrip:hover {
  background-color: white;
  color: black;
}  

.grid-equip-img:hover {
  opacity: 0.5;
}



/* HOST NEW PAGE  */

.grid-host{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 90px;
  height: 100vh;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}

.host-user-input {
  border: none;
  border-bottom: 1px solid #282c34;
  font-size: 15px;
  width: 35%;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.grid-host-img {
  background-image: url("https://photo-assets.usopen.org/images/pics/large/f_bw_USTA1041310_20180903_Day8_DC101609.jpg");
  background-size: cover;
}


/* UPDATE PAGE */

.grid-update {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 90px;
  background: white;
}

.host-user-input1 {
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 12px;
  margin: 25px 0px -5px 120px;
  height: 20px;
  width: 70%;
  text-align: center;
  color: grey;
}

.descrip-title1 {
  font-size: 15px;
  letter-spacing: 1px;
  color:#5a5958;
  margin: 3px 0px -30px 20px
}

.user-pw-bttn1 {
  margin-top: 40px;
  margin-left: 270px;
  margin-bottom: 20px;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: none;
}



.update-close-bttn {
  margin-left: 15px;
  border: none;
  padding: 5px;
  background-color: black;
  color: white;
}

.user-pw-bttn1:hover {
  background-color: black;
  color: white;
}

.update-title {
  transform: translate(33%, 80%);
  margin-bottom: -15px;
  margin-top: -15px;
}



/* CHAT PAGE */


.grid-mssg {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr;
  margin-right: 300px;
  margin-top: -40px;
  margin-left: -30px;
  height: 600px;
  width: 110%;
}

.grid-newmssg{
  background-color: #1f1f1f;
  width: 80%;
  margin-left: 75px;
  height: 350px;
  margin-top: -50px;
  border-radius: 15px;
}

.grid-mssg-input{
  width: 80%;
  background-color: white;
  /* border-radius: 15px; */
  z-index: 3;
  transform: translate(0%, -50%);
  height: 300px;
  margin-left: 75px;
  margin-top: 10px;
  background-color: #ededed;
}


.ref{
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
  margin-top: 2px;
  margin-left: 75px;
  text-transform: uppercase;
  height: 8px;
  font-size: 12px;
}

.mssg {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
  margin-top: 8px;
  margin-left: 75px;
  text-transform: uppercase;
  height: 50px;
}

.mssg:hover{
  box-shadow: 1px 1px 8px #c5c5c5;
}

.user-send-bttn{
  text-transform: uppercase;
  transform: translate(-100%, 88%);
  border: none;
}

#icon1 {
  height: 2x;
  width: 25px;
}

.mssg-title{
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.mssg-title1{
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2px;
}

.host-user-input{
 margin-left: 125px;
 font-size: 10px;
 height: 15px;
 transform: translate(1%, -400%);
}


.user-mssg-bttn{
  margin-top: 45px;
  width: 80px;
  font-size: 15px;
  border: 1px solid #5a5958;
  transform: translate(1%, -400%);
  padding: 1px;
  font-size: 12px;
  opacity: 10px;
  background-color: black;
  color: white;
}

.new-chat{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.mssg-new-input{
  border: none;
  border-bottom: 1px solid #282c34;
  font-size: 15px;
  width: 35%;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  transform: translate(85%, -250%);
}

.new-mssg-bttn{
  margin-top: 45px;
  margin-bottom: 25px;
  width: 80px;
  font-size: 15px;
  border: 1px solid #5a5958;
  transform: translate(180%, -320%);
  padding: 1px;
  font-size: 12px;
  opacity: 10px;
  background-color: black;
  color: white;
  width: 100px; 
}


.footer-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  height: 35px;
}

.foot-title{
  margin-right: 20px;
  font-size: 15px;
  color: white;
}


.mssg-info{
  background-color: #39649d;
  width: 53%;
  border-radius: 2px;
  margin-left: 270px;
  color: white;
  font-size: 9px;
  text-align: right;
  padding: 5px;
}

.mssg-sent{
  width: 52%;
  background-color: #e3e3e3;
  height: 20px;
  padding: 8px;
  margin-top: -20px;
  margin-left: 270px;
  font-size: 12px;
}
/* LOGOUT PAGE */

.popup-container{
  display: grid;
  background-image: url("https://observerbd.com/2023/06/11/ob_1686418184.jpg");
  background-size: cover;
  grid-template-columns: 1fr;
  margin-right: 300px;
  margin-top: -40px;
  margin-left: -30px;
  height: 100vh;
  width: 110%;
}

.popup-box{
  background-color: white;
  width: 30%;
  height: 350px;
  border-radius: 15px;
  transform: translate(25%, 145%);
}

.popup-h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 50px;
}

.popup-des{
  font-weight: lighter;
  font-size: 20px;
  margin-top: -25px;
}

.pop-bttn{
  margin-top: 40px;
  color: white;
  background-color: black;
  padding: 10px;
  width: 130px;
  font-size: 15px;
  border: none;
  display: flex;
  text-transform: uppercase;
  transform: translate(110%, -140%);
}

.pop-bttn1{
  margin-top: 40px;
  color: white;
  background-color: black;
  padding: 10px;
  width: 130px;
  font-size: 15px;
  border: none;
  display: flex;
  text-transform: uppercase;
  transform: translate(250%, -350%);
}

.pop-bttn:hover, .pop-bttn1:hover {
  box-shadow:  6px 6px 12px #bebebe,
  -2px -2px 11px #ffffff;
  background-color: #7d7d7d;
}


.grid-about{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 300px;
  margin-top: 100px;
  width: 70%;
}

.about-info{
  text-align: justify;
  margin: 0px 60px 0px 60px;
}

.about-subtitle{
  margin-top: 100px;
  font-size: 16px;
}

.subtitle1{
  text-align: left;
  margin-left: 60px;
}


/* popup container */
.popupNotification{
  background-color: #5a5958;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  color: white;
  opacity: 0.5;
}

.user-new{
  justify-content: center; 
  font-size: 21px;
  text-decoration: underline;
}

.user-signin{
  margin-left: 50px;
  text-decoration: underline;
}
.notification-bttns{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 20px;
}

.x-close{
  margin-left: 400px;
  margin-bottom: 25px;
  border: none;
  padding: 5px;
  background-color: rgb(255, 176, 176);
}

.title-notification{
  font-size: 18px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}