@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

.App {
  text-align: center;
}


/* body {
  background-color: black;
  color: white;
  font-family: 'Tiro Telugu', serif;
} */

body {
  background-color: white;
  color: black;
  font-family: 'Tiro Telugu', serif;
}

/* HOME PAGE */
.home-page {
  position: relative;
  display: inline-block;
}


.h-title {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

h1.title {
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 200px;
  text-align: center;
  margin: 5;
  color: whitesmoke;
  /* animation: App-logo-spin infinite 20s linear; */
}

.ball-img {
 /* animation: App-logo-spin infinite 30s linear; */
 height: 175px;
 width: 170px;
 z-index: 3;

}
.backg-img {
  height: 100%;
  width: 1900px;
  z-index: auto;
  margin-left: -5px;
  margin-top: -28px;
  opacity: 0.95;
}


/* MENU */

#show-nav {
  z-index: 1000;
  padding: 0px;
  background-color: transparent;
  /* margin-top: -90px; */
  border: none;
  position: static;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  margin-top: 15px;
}
a {
  color: whitesmoke;
  text-decoration: none;
}

nav {
  position: relative;
  align-items: left; 
}


.menu {
  flex-direction: column;
  text-align: left;
  width: 18%;
  z-index: 1000;
}

div.menu-links{
  padding-left: 25px;
}

.nav-title {
  font-size: 16px;
  color: black;
}

#close-menu {
  margin-top: -20px;
  margin-bottom: 0;
  margin-left: 200px;
  border: none;
  padding: 15px;
}

.option {
  transition: background-color 0.5s ease;
}

.option:hover {
  opacity: 0.6;
}

.menu:hover{
  background-color: whitesmoke;
}


 
/* MAIN HEADER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav.header {
  display: flex; 
  /* position: fixed; */
  justify-content: center; 
  z-index: 1000;
  align-items:center;
  width: 100%;
  height: 80px;
  background-color: whitesmoke;
  opacity: 0.5;
}

.home-title {
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  width: 100%;
  margin-left: -530px;
  /* position: absolute; */
}

.main-header-title {
  color: black;
}

.box-header{
  position: relative;
  width: 500px;
  height: 500px;
}

.ball-img1 {
  height: 50px;
  position: absolute;
  animation: slide-animation 30s infinite;
}

/* @keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0);
  }
} */

.user-container{
  width: 100%;
  justify-content:flex-end;
  display: flex; 
  padding-right: 25px;
}

.user-reg {
  justify-content: center; 
  color: black;
  font-size: 15px;
}

.user-login {
  margin-right: 20px;
}

nav.header:hover, .user-container:hover, .main-header-title:hover {
  background-color: whitesmoke;
  opacity: 0.8;
}

.user-icon {
  height: 30px;
  width: 30px;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* REGISTER/LOGIN PAGE */
.grid-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 150px;
  height: 700px;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}

.grid-welcome {
  background-image: url("https://tennislifemag.com/wp-content/uploads/2018/10/11162666_web1_ThinkstockPhotos-tennis-200247716-001.jpg");
  background-size: cover;
}

.grid-user {
  width: 100%;
  background-color: white;
}

.grid-user:hover {
  border: 1px solid #5a5958;
}


.user-input{
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 18px;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

form {
  margin-top: 100px;
}

.user-pw {
  font-size: 18px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

.login-title {
  margin-top: 80px;
  font-size: 35px;
}

.user-pw-bttn {
  margin-top: 40px;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: 1px solid #5a5958;
}



.new-user {
  margin: 170px 0px 0px 470px;
  display: flex;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 100px;
  font-size: 15px;
  border: 1px solid #5a5958;
  color: black;
}

.user-pw-bttn:hover, .new-user:hover {
  background-color: black;
  color: whitesmoke;
}


.welcome-mssg {
  color: whitesmoke;
  margin: 25px 380px 0 0px;
}



/* LESSON PAGE */

.grid-lesson {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 20px;
  margin-top: 100px;
}

.lesson-p {
 text-align: justify;
}

.subtitle {
  text-align: left;
}


#how-to-header {
  font-size: 35px;
  margin-bottom: 15px;
}

p {
  margin-top: -15px;
}

.grid-lesson-videos {
 background-color: #282c34;
 position: static;
 margin-left: 20px;
 margin-right: -10px;
}


.img-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* VIDEO PAGE */


.grid-videos {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  margin: 20px;
  margin-top: 100px;
}

.grid-videos-text {
  background-color: #282c34;
  position: static;
  margin-left: 20px;
  margin-right: -10px;
}


.grid-videos1 {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  margin: 20px;
  margin-top: 100px;
}

.grid-videos-text1 {
  background-color: #282c34;
  position: static;
  margin-left: 20px;
  margin-right: -10px;
}
