@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.App {
  text-align: center;
}

body {
  background-color: white;
  color: black;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

/* HOME PAGE */
.home-page {
  height: 100vh;
  background-image: url('/public/imgs/tennis_03.jpg');
  background-size: cover;
  opacity: 0.95;
}

.h-title {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

h1.title {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;

  font-size: 200px;
  text-align: center;
  margin: 5;
  color: whitesmoke;
  /* animation: App-logo-spin infinite 20s linear; */
}

.ball-img {
  animation: App-logo-spin infinite 10s linear;
  height: 160px;
  width: 170px;
  opacity: 90%;
}

.backg-img {
  height: 100vh;
  width: 1850px;
  z-index: auto;
  margin-left: -5px;
  opacity: 0.95;
  background-size: cover;
}


/* MENU */

#show-nav {
  background-color: transparent;
  border: none;
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

nav {
  position: relative;
  align-items: left; 
}


.menu {
  flex-direction: column;
  text-align: left;
  z-index: 1000;
}

div.menu-links{
  padding-left: 25px;
  background-color: white;
}

.nav-title {
  font-size: 18px;
  color: black;
  margin-top: 20px;

}

#close-menu {
  margin-left: 200px;
  border: none;
  padding: 15px;
  background-color: #1f1f1f;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.option {
  transition: background-color 0.5s ease;
}

.option:hover {
  opacity: 0.6;
  text-decoration: underline;
}


 
/* MAIN HEADER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav.header {
  display: flex; 
  z-index: 1000;
  align-items:center;
  /* width: 100%; */
  height: 85px;
  background-color: #fff;
  opacity: 0.7;
}

.home-title {
  font-family: 'Dongle', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  width: 100%;
  z-index: 5;
  margin-left: 110px;
}

.main-header-title {
  color: black;
}

.box-header{
  position: relative;
  width: 500px;
  height: 500px;
}

.ball-img1 {
  height: 50px;
  position: absolute;
  animation: slide-animation 50s infinite;
}

@keyframes slide-animation {
  0% {
    transform: translateX(100);
  }
  50% {
    transform: translateX(4000%);
  }
  100% {
    transform: translateX(400);
  }
}

.user-container{
  /* width: 100%; */
  width: 9%;
  justify-content:space-between;
  display: flex; 
  margin-right: 15px;
}

.user-reg {
  /* justify-content: center;  */
  color: black;
  font-size: 12px;
}

.user-login {
  margin-right: 20px;
}

nav.header:hover, .user-container:hover, .main-header-title:hover {
  background-color: whitesmoke;
  opacity: 0.9;

}

.user-icon {
  height: 30px;
  width: 30px;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* REGISTER/LOGIN PAGE */
.grid-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 160px;
  height: 800px;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}


.grid-user {
  width: 100%;
  background-color: white;
}

.grid-user p {
  margin-left: 140px;
  margin-right: 140px;
  color: grey;
}
.grid-welcome{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.grid-welcome img{
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-welcome h1 {
  color: white;
  z-index: 10;
  position: absolute;
  bottom: 0;
  margin-bottom: 80px ;
  margin-left: 450px;
}


.user-input{
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 18px;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

input {
  border: none;
  outline: none;
}

form {
  margin-top: 60px;
}

.user-pw {
  font-size: 18px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

.login-title {
  margin-top: 220px;
  font-size: 35px;
}

.user-pw-bttn {
  margin-top: 80px;
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bolder;
}



.new-user {
  margin: 170px 0px 0px 470px;
  background-color: grey;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
}

/* .user-pw-bttn:hover, .new-user:hover {
  background-color: black;
  color: whitesmoke;
} */


.welcome-mssg {
  color: whitesmoke;
  margin: 25px 380px 0 0px;
}



/* LESSON PAGE */

.grid-lesson {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 20px;
  margin-top: 100px;
  color: #2b2b2b;
}

.grid-lesson-text h2{
  text-align: left;
  margin-left: 60px;
  font-size: 20px;
}
.lesson-p {
 text-align: justify;
 margin: 0px 60px 0px 60px;
}

.subtitle {
  text-align: left;
  margin-left: 60px;
  color: grey;
  font-size: 16px;
}


#how-to-header {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  margin-top: -15px;
}

.grid-lesson-videos {
 background-color: #7d7d7d;
 position: static;
 margin: -20px -10px 0px 20px;
}


.img-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-description { 
  font-size: 15px;
  width: 50%;
  margin-left: 150px;
  margin-top: -3px;
  line-height: 18px;
  text-transform: uppercase;

}

.yt-video {
  border: none;
  border-radius: 10px;
  height: 170px;
}

.yt-video:hover {
  opacity: 0.8;
  border-radius: 0px;
}



/* VIDEO PAGE */


.yt-video-slams {
  border: none;
  border-radius: 12px;
  height: 300px;
  width: 400px;
  float: left;
  margin: 10px;
  opacity: 0.9;
}

.yt-video-slams:hover {
  opacity: 0.6;
  border-radius: 0px;
}

.slam-videos {
  margin: 70px;
}

.grand-slam-title {
  margin-top: 120px;
  margin-bottom: -50px;
}



/* INDEX PAGE */
/* SEARCH BAR */

.search-bar {
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 18px;
  margin: 0px;
  margin-bottom: -5px;
  height: 20px;
  padding: 4px;
  text-align: right;
}

.matches-title {
  margin-top: 100px;
}

.search-container{
  text-align: left;
  margin-left: 60px;
  font-size: 10px;
}
h1 {
  letter-spacing: 2px;
}

.img-matches {
  height: 100%;
  width: 100%;
}

.img-matches:hover {
  opacity: 0.6;
}

.grid-matches {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 2fr;
  width: 70%;
}



.grid-matches-img {
   margin: 15px;
   margin-bottom: 0px;
}

.grid-matches-img1 {
  background-color: black;
  margin-top: 15px;
  color: white; 
}

.grid-matches-descrip {
  background-color: #1f1f1f;
  position: static;
  margin-top: 14px;
  margin-right: -10px;
  color: white;
}

.match-location {
  font-size: auto;
  text-transform: uppercase;
  text-align: center;
}


.match-details {
  font-size: 20px;
  margin-top: 40%;
  width: 70%;
  margin-left: 15%;
  font-weight: lighter;
}

.match-details1 {
  font-size: 20px;
  margin-top: 50%;
  width: 70%;
  margin-left: 12%;
  text-align: center;
  font-weight: lighter;
}
/* 
SHOW BY ID */

.matches-grid {
  display: grid;
  grid-template-rows: 0.25fr 1fr 1fr;
  margin-left: 30%;
  margin-right: 30%;
  height: 100vh;
  text-align: justify;
  position: absolute;
}


.match-host {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transform: translate(190%, 50%); 
  color: white;
  background-color: black;
}

.match-description{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.matches-img {
  width: 100%;
}

.descrip-title {
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  font-weight: bolder;
}

.descrip-container{
  font-size: 13px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.description{
  font-weight: lighter;
  margin-left: 80px;
}


.host-name{
  text-transform: uppercase;
 transform: translate(1%, 60%);
  text-align: center;
  font-weight: lighter;
  font-size: auto;
}


.join-bttn {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bolder;
  transform: translate(480%,-1250%);
  position: absolute;
  border: none;
}


.buttons {
  width: 110px;
  font-size: 15px;
  transform: translate(460%, -860%);
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  border: none;
}  

.bttn-update {
  background-color: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  border: none;
  transform: translate(250%, 40%);
}

#close-chat {
  border: none;
  padding: 4px;
  transform: translate(1690%, 40%);
  background-color: rgb(212, 55, 55);
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  border: none;
  color: white;
}

.bttn-remove {
  transform: translate(260%, 45%);
  background-color: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  border: none;
}



.check {
  font-size: 16px;
  /* transform: translate(30%, -450%); */
  color: black;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.confirmation_container{
  /* height: 100px; */
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  transform: translate(0%, -100%);
}

.confirm-join-bttn{
  background-color: black;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border-radius: 2px;
  /* transform: translate(350%, -600%); */
  border: none;
  color: white;
  font-weight: bold;
}

.user-update-bttn {
  background-color: black;
  padding: 5px; 
  width: 110px;
  font-size: 15px;
  border-radius: 2px;
  transform: translate(20%, -800%);
  border: none;
  color: white;
  font-weight: bold;
}


.join-bttn:hover, .buttons:hover, .bttn-update:hover, .bttn-remove:hover, .confirm-join-bttn:hover  {
  background-color: black;
  color: whitesmoke;
}


/* CHAT */


/* EQUIPMENT PAGE */

.equipment-container {
  grid-template-columns: 1fr 1fr 1fr;
  float: left;
  margin-bottom: 6px;
}

.img-equipment {
  width: 350px;
  height: 400px; 
  padding: 25px;
  margin-left: 10px;
}

.grid-equip-img {
  margin-left: 28%;
}

.equip-title{
  margin-top: 110px;
  text-align: left;
  margin-left: 20px;
 }

 .grid-equip-descrip {
  transform: translate(45%, -400%);
  width: 80%;
  font-size: 12px;
  font-weight: lighter;
  z-index: 1;
  line-height: 2rem;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.0);
  /* background-color: rgba(0, 0, 0, 0.2); */

 }

 .grid-equip-descrip:hover {
  background-color: white;
  color: black;
}  

.grid-equip-img:hover {
  opacity: 0.5;
}



/* HOST NEW PAGE  */

.grid-host{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 60px;
  margin-right: 60px;
  height: 100vh;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}

.host-user-input {
  border: none;
  border-bottom: 1px solid #282c34;
  font-size: 15px;
  width: 35%;
  margin-top: 25px;
  margin-bottom: -5px;
  height: 20px;
  text-align: center;
}

.grid-host-input form {
  width: 80%;
  margin-top: 140px;
}

.grid-host-input1 {
  width: 90%;
}




.grid-host-img {
  background-image: url("https://photo-assets.usopen.org/images/pics/large/f_bw_USTA1041310_20180903_Day8_DC101609.jpg");
  background-size: cover;
}

.user-pw-bttn2 {
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bolder;
  margin-left: 120px;
}

/* UPDATE PAGE */

.grid-update {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  background: white;
  margin-bottom: 120px;
}

.host-user-input1 {
  border: none;
  border-bottom: 2px solid #282c34;
  font-size: 12px;
  margin: 25px 0px -5px 120px;
  height: 20px;
  width: 70%;
  text-align: center;
  color: grey;
}

.descrip-title1 {
  font-size: 15px;
  letter-spacing: 1px;
  color:#5a5958;
  margin: 3px 0px -30px 20px
}

.user-pw-bttn1 {
  margin-top: 40px;
  margin-left: 270px;
  margin-bottom: 20px;
  box-shadow: white;
  background-color: whitesmoke;
  padding: 5px;
  width: 110px;
  font-size: 15px;
  border: none;
}



.update-close-bttn {
  margin-left: 400px;
  border: none;
  padding: 12px;
  background-color: black;
  color: white; 
  font-weight: bolder;
  transform: translate(140%, -161%);
}

.user-pw-bttn1:hover {
  background-color: black;
  color: white;
}

.update-title {
  transform: translate(33%, 80%);
  margin-bottom: -15px;
  margin-top: -15px;
}



/* CHAT PAGE */


.grid-mssg {
  display: grid;
  /* background-color: white; */
  grid-template-columns: 1fr;
  margin-left: -25px;
  margin-top: 20px;
  /* margin-right: 300px;
  margin-top: -40px;
  margin-left: -30px; */
  /* transform: translate(120%, -70%); */
}

.grid-newmssg{
  background-color: #1f1f1f;
  /* width: 80%; */
  /* margin-left: 75px; */
  height: 75%;
  /* margin-top: -50px; */
  /* border-radius: 15px; */
}

.grid-mssg-input{
  /* width: 80%; */
  background-color: white;
  /* border-radius: 15px; */
  /* z-index: 3; */
  /* transform: translate(0%, -50%); */
  height: auto;
  /* margin-left: 75px; */
  /* margin-top: 10px; */
}


.ref{
  width: 85%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: black;
  margin-top: 1px;
  margin-left: 64px;
  height: 4px;
  font-size: 12px;
}

.mssg {
  width: 85%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
  margin-top: 8px;
  margin-left: 64px;
  height: 20px;
}

.mssg:hover{
  box-shadow: 1px 1px 8px #c5c5c5;
}

.user-send-bttn{
  text-transform: uppercase;
  transform: translate(1420%, -110%);
  border: none;
}

#icon1 {
  height: 2x;
  width: 25px;
}
.convo{
  display: flex;
}
.conversation-id{
  font-size: 16px;
  margin-left: 10px;
  color: #1f1f1f;
  background-color: white;
  padding-left: 6px;
  padding-right: 6px;
}
/* .mssg-title{
  font-size: 12px;
  text-align: left;
  margin-top: 2px;
  margin-left: 70px;
  color: white;
} */

.mssg-title1{
  color: grey;
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}

.host-user-input{
 margin-left: 125px;
 font-size: 12px;
 height: 20px;
 transform: translate(1%, -200%);
}


.user-mssg-bttn{
  transform: translate(20%, -90%);
  background-color: black;
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bolder;
  position: absolute;
  border: none;
  color: white;
}

.new-chat{
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.mssg-new-input{
  border: none;
  font-size: 15px;
  /* width: 35%; */
  /* margin-top: 35px; */
  height: 25px;
  text-align: center;
  transform: translate(85%, -120%);
}

.new-mssg-bttn{
  width: 80px;
  transform: translate(180%, -120%);
  padding: 5px;
  color: black;
  width: 100px; 
  background-color: white;
  font-size: 15px;
  border-radius: 5px; 
  position: absolute;
  border: none;
  font-weight: bolder;
}


.footer-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  height: 35px;
}

.foot-title{
  margin-right: 20px;
  font-size: 15px;
  color: white;
}


.mssg-info{
  background-color:black;
  width: 53%;
  border-radius: 2px;
  margin-left: 255px;
  font-size: 12px;
  padding: 5px;
}

.mssg-sent{
  /* width: 52%; */
  background-color: white;
  height: 20px;
  padding: 8px;
  margin-top: -20px;
  color: black;
  margin-left: 255px;
  /* margin-left: 270px; */
  font-size: 12px;
}
/* LOGOUT PAGE */

.popup-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: url("https://observerbd.com/2023/06/11/ob_1686418184.jpg");
  background-size: cover;
  height: 100vh;
  /* grid-template-columns: 1fr; */
  /* margin-right: 300px;
  margin-top: -40px;
  margin-left: -30px; */
}

.popup-box{
  background-color: white;
  border-radius: 15px;
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 30%;
}

.popup-h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 50px;
  position: relative;
}

.popup-des{
  font-weight: lighter;
  font-size: 16px;
  margin-top: -25px;
  margin-left: 110px;
  margin-right: 110px;
  color: grey;
}

.pop-bttn{
  position: relative;
  display: flex;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  bottom: 15px;
  left: 120px;
}

.pop-bttn1{
  position: relative;
  width: 100px;
  font-size: 15px;
  border: none;
  display: flex;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  bottom: 52px;
  left: 310px;
}

.pop-bttn:hover, .pop-bttn1:hover {
  box-shadow:  6px 6px 12px #bebebe,
  -2px -2px 11px #ffffff;
  background-color: #7d7d7d;
}

/* ABOUT */

.grid-about{
  display: grid;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 16px;
  line-height: 2rem;
  color: #2b2b2b;
}

.about-info{
  text-align: justify;
  margin-top: 30px;
}

.about-subtitle{
  margin-top: 100px;
  font-size: 16px;
  color: gray;
}

.subtitle1{
  text-align: left;
  font-size: 22px;
}


/* popup container */
.popupNotification{
  background-color: black;
  margin-top: 8%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 35%;
  margin-right: 35%;
  color: whitesmoke;
  height: 180px;
  position: absolute;
}

.user-new{
  justify-content: center; 
  font-size: 17px;
  background-color: white;
  padding: 9px;
  color: black;
  font-weight: lighter;
}

.user-signin{
  margin-left: 50px;
  background-color: white;
  padding: 10px;
  color: black;
  font-weight: normal;
}

.notification-bttns{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
 
}

.x-close{
  margin-left: 400px;
  border: none;
  padding: 10px;
  margin-bottom: -10px;
  color: black;
  position: relative;
  margin-top: -60px;
}

.title-notification{
  font-size: 16px;
  padding: 15px 40px 0px 40px;
  line-height: 2rem;
}